<tr>
  <td style="padding-top: 30px; padding-bottom: 10px; "
      align="center"
  >
    <a
            href="{{ full_url }}"
            style="
        font-size: {{ font_size }}px;
        font-family: Arial, sans-serif; font-weight: bold;
        padding-left: 31px;
        padding-right: 31px;
        height: 50px;
        line-height: 50px;
        border-radius: 15px;
        color: #fff;
        background-color: #225194;
        text-decoration: none;
        display: inline-block;
      "
    >
      {{ title }}
    </a>
  </td>
</tr>