<html lang="en">
<head>{% load vm_tags %}
  <meta charset="utf-8">
  <title>{{ subject }}</title>
</head>

<body>
<div
  style="max-width: 900px; margin: 0 auto; background: #f4f6f6; text-align: center; padding: 1em 0;">
  <table
    style="
    background: #fff;
    width: 611px;
    border-radius: 6px;
    padding: 32px 62px;
    color: #455154;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-left: auto;
  "
    cellpadding="0"
  >
    <tr>
      <td style="text-align: center">
          {% block logo %}
            <a href="{{ frontend_url }}/">
             <img style="width: 256px; height: 226px" src="{% email_static 'logo.png' %}" alt="logo"/>
            </a>
          {% endblock %}
      </td>
    </tr>
    {% block content %}
    {% endblock %}
  </table>
  <div style="font-family: Arial, sans-serif; font-size: 14px; color: #455154; margin-top: 20px;">
    © 2023 VIPMotors LLC All Rights Reserved |
    <a
      href="{{ frontend_url }}/profile-email"
      style="color: #455154;"
    >Unsubscribe</a>
  </div>
</div>
</body>
</html>